a{
  padding: 0;
  margin: 0;
}
a:hover{
  text-decoration: none;
}
p{
  padding: 0;
  margin: 0;
}

ul{
  list-style: none;
}

body{
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Raleway', sans-serif;
}
.testimonial_all {
	position: relative;
  padding: 0 130px;
}
.testimonial_all .owl-nav div{
  position: absolute;
  color: #fff;
}
.testimonial_all .owl-prev {
	left: -40px;
	top: 20%;
	background: #f3f3f3;
	padding: 5px 15px;
	font-size: 20px;
	border-radius: 5px;
}
.testimonial_all .owl-next{
  right: -40px;
  top: 20%;
  background: #f3f3f3;
	padding: 5px 15px;
	font-size: 20px;
	border-radius: 5px;
}



.top_language {
  display: inline-block;
  margin-right: 30px;
  font-size: 13px;
}
.top_language select {
  color: #959595;
}
.product_top, .product_top a {
  background-color: #FAFAFA;
  color: #959595;
}
.top_phone {
  display: inline-block;
  margin-right: 30px;
  font-size: 13px;
}
.top_email {
  display: inline-block;
  margin-right: 30px;
  font-size: 13px;
}
.top_registration {
  display: inline-block;
  font-size: 13px;
}
.top_wishlist {
  display: inline-flex;
  font-size: 13px;
  margin-left: 30px;
}
.top_social_links {
  display: inline-block;
  margin-left: 30px;
}
.top_social_links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.top_social_links ul li {
  display: inline-block;
}
.top_wishlist .dropdown button:focus{
  outline: none;
}
.top_wishlist .dropdown button {
  font-size: 13px;
  padding: 0;
  background: unset;
  border: none;
  color: #e1e1e1;
}
.top_social_links ul li a i {
  color: #e1e1e1;
}
.top_register {
	color: #8dc63f !important;
}

.top_social_links ul li:hover a i {
  color: #E5493A;
}
.top_registration p a:hover {
  text-decoration: none;
  color: #E5493A !important;
}
.product_top p, .product_top label {
  margin: 0;
  padding: 0;
}
.product_top {
  padding: 10px 0;
}
.top_language select {
	color: #959595;
	border: none;
	outline: none;
	background: inherit;
}

.main_navbar nav {
  padding: 0;
}
.main_navbar .navbar-brand {
  padding: 0;
}
.product_ls_cart_item {
	position: relative;
	color: #363636;
}

.product_ls_cart_number {
	border-radius: 22px;
	background: #E5493A;
	padding: 0px 4.5px 1px 4.5px;
	font-size: 8px;
	color: #fff;
	font-weight: 700;
	font-family: 'Raleway';
	position: absolute;
	top: -2px;
	left: 7px;
}
.main_navbar nav {
  padding: 0;
}
.main_navbar .navbar-brand {
  padding: 0;
}
.main_navbar .nav-item {
  margin-left: 10px;
  margin-right: 10px;
}
.main_navbar .nav-item a {
  color: #707070;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
  position: relative;
}
.main_navbar {
  padding: 35px 0;
}
a:hover {
}
.main_navbar .nav-item a:hover {
  color: #E5493A;
  border-height: 10px;
  display: ;
}
.main_navbar .nav-item a:hover::before {
  content: "";
  border: 1px solid;
  display: inline;
  position: absolute;
  top: 0;
  left: 5px;
  width: 10px;
}
.product_links_nav {
	background-color: #252525;
}
.product_links_nav li {
	display: inline-block;
}
.product_links_nav a {
	color: #fff;
	font-family: 'Raleway';
	font-size: 14px;
	font-weight: 900;
	display: block;
	padding: 22px 11px;
}
.product_links_nav li:hover {
	background: #E5493A;
}

.product_links_nav nav {
  padding: 0;
}

.product_list_seaarch_form input:focus{
  color: #ddd;
}
.product_list_seaarch_form input {
  background-color: #363636;
  color: #707070;
  border: none;
  padding: 6px 20px;
  border-radius: 100px;
  font-family: 'roboto';
  font-size: 14px;
}
.product_list_seaarch_form button:hover{
  color: #ddd;
}
.product_list_seaarch_form button {
	background: unset;
	border: unset;
	cursor: pointer;
	padding: 5px;
	color: #707070;
	margin-left: -35px;
}

.breadcrumb-item + .breadcrumb-item::before {
	color: #959595;
	content: "\f111";
  font-family: "fontAwesome";
  font-size: 4px;
  vertical-align: middle;
}

.product_ls_breadcrumb li {
  font-size: 12px;
}
.product_ls_breadcrumb ol {
  padding: 0;
  margin: 0;
  background: inherit;
}
.product_ls_breadcrumb li a {
  color: #959595;
  text-transform: uppercase;
}
.product_ls_breadcrumb li a:hover{
  color:#E5493A;
}
.product_ls_breadcrumb {
  background: #FAFAFA;
  padding: 26px 0;
}
.breadcrumb-item.active {
  color: #E5493A;
}






		.custom-dropdown__select{
			font-size: inherit; /* inherit size from .custom-dropdown */
			padding: .5em; /* add some space*/
			margin: 0; /* remove default margins */
		}
		
		.custom-dropdown__select--emerald {
			background-color: #FAFAFA;
			color: #fff;    
		}

		@supports (pointer-events: none) and
				  ((-webkit-appearance: none) or
				  (-moz-appearance: none) or
				  (appearance: none)) {

			
			h2+p {
				color: green; /* Demo only */
			}

			.custom-dropdown {
				position: relative;
				display: inline-block;
				vertical-align: middle;
			}

			.custom-dropdown__select {
				padding-right: 42px; /* accommodate with the pseudo elements for the dropdown arrow */				
				border: 0;
				border-radius: 3px;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;    
			}

			.custom-dropdown::before,
			.custom-dropdown::after {
				content: "";
				position: absolute;
				pointer-events: none;
			}

			.custom-dropdown::after { /*  Custom dropdown arrow */
				content: "\f107";
              font-family: 'fontawesome';
				height: 1em;
				font-size: .625em;
				line-height: 1;
				right: 1.2em;
				top: 50%; margin-top: -.5em;
			}

			.custom-dropdown::before { /*  Custom dropdown arrow cover */
				width: 2em;
				right: 0; top: 0; bottom: 0;
				border-radius: 0 3px 3px 0;
			}

			.custom-dropdown__select[disabled] {
				color: rgba(0,0,0,.3);
			}

			.custom-dropdown.custom-dropdown--disabled::after {
				color: rgba(0,0,0,.1);
			}				

			/* Emerald dropdown style */
			.custom-dropdown--emerald::before {
				background-color: #F2F2F2;
			}

			.custom-dropdown--emerald::after {
				color: #B8B8B8;
			}

		}






.product_sort_by label {
  color: #CCCCCC;
  font-size: 14px;
  vertical-align: middle;
  margin: 0;
  padding-left: 5px;
}
.product_sort_by {
  background: #FAFAFA;
  border-radius: 3px;
}
.product_sort_by select {
  font-size: 14px;
  color: #555555;
  padding-left: 0;
  cursor: pointer;
}

.product_show_per_page .custom-dropdown__select{
  padding-right: 90px;
}
.product_show_per_page label {
  color: #CCCCCC;
  font-size: 14px;
  vertical-align: middle;
  margin: 0;
  padding-left: 5px;
}
.product_show_per_page {
  background: #FAFAFA;
  border-radius: 3px;
}
.product_show_per_page select {
  font-size: 14px;
  color: #555555;
  cursor: pointer;
  padding-left: 0;
}
.product_view_style a i {
	color: #B7B7B7;
	background: #F2F2F2;
	padding: 8px;
	margin-left: 5px;
}
.product_view_style a i:hover {
	color: #fff;
	background: #E5493A;
}
.product_filter_area {
	margin-bottom: 40px;
}

.pro_ls_sidebar_accordion {
  padding: 30px;
  background: #FAFAFA;
}
.product_ls_categories h5,
.product_ls_price_filter h5,
.product_ls_featured_product h5{
  padding: 20px 0 20px 30px;
  background: #F5F5F5;
  color: #363636;
  font-size: 18px;
  font-family: inherit;
  margin: 0;
  font-weight: 600;
}

.pro_ls_sidebar_accordion .accordion-toggle:hover,
.pro_ls_sidebar_accordion .accordion-toggle[aria-expanded=true]{
  color: #E5493A;
}
.pro_ls_sidebar_accordion .accordion-toggle {
  font-size: 15px;
  color: #363636;
  display: block;
  font-family: 'roboto';
  font-weight: 400;
}
.pro_ls_sidebar_accordion .accordion-toggle i {
	float: right;
	background: #F2F2F2;
	padding: 5px;
	border-radius: 2px;
  margin-top: -2.5px;
}
.pro_ls_sidebar_accordion .panel ul {
  padding: 0;
  margin: 0;
}
.pro_ls_sidebar_accordion .accordion-toggle:hover i,
.pro_ls_sidebar_accordion .accordion-toggle[aria-expanded=true] i{
	background: #E5493A;
  color: #fff;
}




.pro_ls_sidebar_accordion .panel ul li a {
  color: #959595;
  font-size: 14px;
  display: inline-block;
}
.pro_ls_sidebar_accordion .panel ul li {
  padding-left: 20px;
  position: relative;
  line-height: 1.9;
}
.pro_ls_sidebar_accordion .panel ul li a::before {
  content: "\f0da";
  font-family: 'fontawesome';
  position: absolute;
  left: 0;
  color: #D4D4D4;
}

.pro_ls_sidebar_accordion .panel ul li:hover a::before {
  color: #E5493A;
}
.pro_ls_sidebar_accordion .panel ul li:hover a {
  color: #E5493A;
}

.pro_ls_sidebar_accordion .accordion-toggle i:hover {
  background: #E5493A;
  color: #fff;
}

.product_ls_main_area {
  padding-top: 60px;
  padding-bottom: 80px;
}
.product_pagination ul {
	margin: 0;
}
/**/
.product_ls_categories,
.product_ls_price_filter,
.product_ls_promo_banner,
.product_ls_featured_product{
  margin-bottom: 40px;
}
.product_ls_price_filter_inner {
	padding: 30px;
	background: #FAFAFA;
}
.product_ls_price_filter_inner .ui-slider {
	height: 10px;
  border-radius: 3px;
}

.product_ls_price_filter_inner .ui-slider span {
  height: 15px;
  width: 6px;
  border-radius: 3px;
  background: #363636;
  border: none;
  top: -2.5px;
  margin-left: 0;
  cursor: pointer;
}
.ui-widget-header{
  background: #E5493A;
}
.ui-widget.ui-widget-content{
  border: unset;
  background-color: #F2F2F2;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
	border-radius: unset ;
}
.product_ls_price_filter_inner label[for="amount"] {
	font-size: 14px;
	color: #CCCCCC;
	display: inline-block;
	margin: 0;
}
.product_ls_price_filter_inner input#amount {
	display: inline-block;
	width: 50%;
	font-size: 14px;
	color: #555555 !important;
	font-weight: 400 !important;
	background: inherit;
}

.product_ls_price_filter_inner label[for=amount] {
  font-size: 13px;
  color: #CCCCCC;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.product_ls_price_filter_inner input#amount {
  display: inline-block;
  width: 44%;
  font-size: 13px;
  color: #555555 !important;
  font-weight: 400 !important;
  background: inherit;
  padding: 0;
}
.product_ls_price_filter_inner input[type=submit] {
  border: 1px solid #363636;
  text-transform: uppercase;
  background: inherit;
  font-size: 11px;
  font-family: 'raleway';
  font-weight: bold;
  cursor: pointer;
  padding: 0px 3px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 2.5px;
}
.product_ls_price_filter_inner form {
  padding-top: 30px;
}
.product_ls_price_filter_inner form p {
  position: relative;
}
.widget_featured_product_wrapper{
  padding: 30px;
  background: #FAFAFA;
}
.single_link_featured img {
	max-width: 50px;
	height: auto;
	float: left;
	padding-top: 3px;
}
.review_stars {
	font-size: 14px;
}
.single_link_featured h5 {
	padding: 0;
	display: block;
	background: none;
	font-family: 'roboto';
}
.single_link_featured h5 a {
	color: #555555;
	font-size: 14px;
	padding: 0;
	display: inline-block;
}

.single_link_featured p del {
  font-size: 11px;
  color: #D7D7D7;
  display: inline-block;
}
.single_link_featured p {
  font-size: 14px;
  display: inline-block;
  color: #555555;
  font-weight: bold;
}

.review_stars a {
  color: #F5F5F5;
}
.review_stars {
  padding-bottom: 5px;
}
.review_star_active{
  color: #F8A139 !important;
}
.review_stars a:hover{
  color: #F8A139;
}
.single_link_featured h5:hover a {
	color: #F7941D;
}

.product_item_single_inner {
  background: #FAFAFA;
  position: relative;
}
.product_item_wishlist_button {
	display: inline;
	position: absolute;
	top: 27px;
	right: 27px;
	opacity: .0;
}
.product_item_wishlist_button a:hover{
  color: #E5493A;
}
.product_item_wishlist_button a {
  color: #CCCCCC;
  padding: 5px;
}
.product_item_single_inner:hover .product_item_wishlist_button {
	opacity: 1;
}
.product_ls_des_categories a {
	display: inline-block;
	font-size: 13px;
	color: #CCCCCC;
	margin: 0;
}
.product_item_title {
	font-size: 18px;
	color: #363636;
	font-weight: 600;
	margin: 5px 0;
}
.product_ls_price {
	color: #E5493A;
	font-size: 18px;
	font-weight: 700;
	display: block;
	padding: 5px 0;
}
.product_ls_price del {
	color: #D7D7D7;
	font-size: 14px;
	font-weight: 700;
}
.product_ls_view_cart {
	border: 1px solid #363636;
	color: #363636;
	font-size: 12px;
	font-family: 'raleway';
	font-weight: 900;
	padding: 5px 15px;
}
.product_ls_view_cart:hover {
	color: #fff;
	background: #8DC63F;
	border: 0;
	padding: 6px 16px;
}
.product_item_single_inner {
	background: #FAFAFA;
	position: relative;
	padding-bottom: 30px;
  margin-bottom: 30px;
}
.product_item_single_inner .product_ls_des_categories a:hover,
.product_item_single_inner a:hover h5{
  color: #E5493A;
}
.product_ls_des_categories a::after {
	content: ",";
}
.product_ls_des_categories a:hover::after {
	content: ",";
  color: #CCCCCC;
}
.product_ls_des_categories a:last-child::after{
  content: "";
}
.product_item_single_inner .carousel-control-prev, 
.product_item_single_inner .carousel-control-next{
  background: #EDEDED;
  margin: 100px 0;
}
.product_item_single_inner .carousel-control-prev:hover, 
.product_item_single_inner .carousel-control-next:hover{
  background: #E5493A;
}

.product_item_single_inner .carousel-control-prev,
.product_item_single_inner .carousel-control-next {
  opacity: 0;
}
.product_item_single_inner:hover .carousel-control-prev,
.product_item_single_inner:hover .carousel-control-next {
  opacity: 1;
}

.product_pagination {
  position: relative;
}
.product_pagination ul li:last-child{
  position: absolute;
  right: 0;
  top: 0;
}
.product_pagination ul li:first-child {
  position: absolute;
  left: 0;
  top: 0;
}



.product_pagination .page-link:hover{
	background: unset;
	color: #E5493A;
  border: 1px solid #E5493A;
  
}
.product_pagination .page-link {
	background: #F3F3F3;
	color: #959595;
	margin-left: 10px;
	border-radius: 5px;
	border: 1px solid #F3F3F3;
  
}

.product_pagination .pagination .page-item:last-child .page-link:hover p,
.product_pagination .pagination .page-item:first-child .page-link:hover p{
  background: #E5493A;
}
.product_pagination .pagination .page-item:last-child .page-link p {
	padding: 5px 15px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.product_pagination .pagination .page-item:last-child .page-link p,
.product_pagination .pagination .page-item:first-child .page-link p {
	display: inline-block;
	background: #363636;
	color: #fff;
	font-size: 16px;
	font-family: 'raleway';
	font-weight: 700;
	padding: .51rem 15px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.product_pagination .pagination .page-item:last-child a,
.product_pagination .pagination .page-item:first-child a {
  padding: 0;
  border: none;
}
.product_pagination .pagination .page-item:last-child .page-link:hover span,
.product_pagination .pagination .page-item:first-child .page-link:hover span{
  background: #D4392A;
} 
.product_pagination .pagination .page-item:last-child .page-link span{
  
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
	padding: 5px 15px;
}
.product_pagination .pagination .page-item:last-child .page-link span,
.product_pagination .pagination .page-item:first-child .page-link span {
	background: #0a0a0a;
	color: #fff;
	padding: .51rem 15px;
	display: inline-block;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}





.pro_ls_our_clients {
	background: #FAFAFA;
	padding: 80px 0;
}

.brand_heading h2 {
  font-size: 30px;
  color: #363636;
  font-weight: 700;
}
.brand_heading p {
  color: #959595;
  font-size: 14px;
}
.brand_heading hr {
  background: #363636;
  border: none;
  height: 2px;
  width: 50%;
}
.brand_heading {
  padding-bottom: 60px;
}

.product_ls_newslatter {
  padding: 60px 0;
  background: #E5493A;
}
.product_ls_newslatter h3 {
  font-size: 19px;
  font-weight: 700;
  color: #FFFFFF;
}
.p_ls_newslatter_input {
	position: relative;
	font-size: 14px;
	color: #C2C2C2;
  display: inline-block;
}
.p_ls_newslatter_input i {
	position: absolute;
	top: 18px;
	left: 20px;
}
.p_ls_newslatter_input span {
	position: absolute;
	top: 0;
	left: 50px;
	font-size: 46px;
	line-height: 1;
	font-weight: 100;
}
.p_ls_newslatter_input input:hover{
  border: none;
}
.p_ls_newslatter_input input {
	padding: 15px 75px;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  display: inline-block;
}
.product_ls_newslatter input[type="submit"] {
	padding: 15px 35px;
	margin-left: -4px;
	border-radius: 0px 3px 3px 0;
	font-size: 14px;
	font-family: 'raleway';
	font-weight: 900;
	color: #fff;
	background: #363636;
  cursor: pointer;
}
.product_ls_newslatter input[type="submit"]:hover{
  color: #E5493A;
}

.product_ls_footer_top {
  background: #252525;
  padding: 80px 0;
  color: #636363;
}
.footer_logo h1 {
	font-size: 46px;
	margin: 0;
}
.footer_logo {
	color: #464646;
	display: inline-block;
	margin-right: 10px;
}
.footer_widget_1 span {
	font-size: 12px;
	display: inline-block;
	width: 110px;
}
.footer_widget_1 p{
  margin: 30px 0;
  font-size: 14px;
}

.footer_widget_1 .top_social_links {
  display: unset;
  margin-left: 0;
}
.footer_widget_1 .top_social_links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer_widget_1 .top_social_links ul li {
  display: inline-block;
}
.footer_widget_1 .top_social_links ul li a i {
  color: #363636;
  font-size: 20px;
}
.footer_widget_1 .top_register {
	color: #8dc63f !important;
}

.footer_widget_1 .top_social_links ul li:hover a i {
  color: #E5493A;
}
.footer_widget_2 ul li:hover {
	color: #E5493A;
}
.footer_widget_2 ul li:hover a {
	color: #E5493A;
}
.footer_widget_4 h5,
.footer_widget_3 h5,
.footer_widget_2 h5 {
	font-size: 24px;
	color: #fff;
	font-weight: 500;
}

.footer_widget_2 ul {
	clear: both;
	padding: 0;
}
.footer_widget_2 ul li::before {
	position: absolute;
	content: "\f0da";
	left: 0;
	font-family: 'fontawesome';
	display: inline-block;
}
.footer_widget_2 ul li {
	font-size: 14px;
	color: #959595;
	padding-left: 20px;
	position: relative;
	line-height: 2;
	border-bottom: 1px solid #363636;
}
.footer_widget_2 ul li a {
	color: #959595;
}
.p_ls_fw_title_underline {
	border: none;
	background: #E65244;
	height: 2px;
	width: 20%;
	float: left;
	display: block;
}
.footer_widget_3 ul {
	clear: both;
	padding: 0;
}
.footer_widget_3 ul li a {
	color: #959595;
	font-size: 14px;
	display: block;
}
.footer_widget_3 ul li date {
	font-size: 13px;
	color: #464646;
}
.footer_widget_2 ul li:last-child,
.footer_widget_3 ul li:last-child{
  border: none;
}
.footer_widget_3 ul li:hover date{
  font-weight: 700;
  color: #fff;
}
.footer_widget_3 ul li:hover a{
  color: #E5493A;
}
.footer_widget_3 ul li {
	display: block;
	border-bottom: 1px solid #363636;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.footer_widget_4 > p {
	clear: both;
	font-size: 14px;
	margin-bottom: 15px;
}

.footer_widget_4 p.widget_phone,
.footer_widget_4 p.widget_email,
.footer_widget_4 address {
	padding-left: 30px;
	position: relative;
	font-size: 14px;
	color: #959595;
}
.footer_widget_4 p.widget_phone::before{
  content: "\f10b";
}
.footer_widget_4 p.widget_email a{
  color: #E5493A;
}
.footer_widget_4 p.widget_email::before{
  content: "\f1d8";
}
.footer_widget_4 address::before{
	content: "\f041";
  
}
.footer_widget_4 p.widget_phone::before,
.footer_widget_4 p.widget_email::before,
.footer_widget_4 address::before {
	position: absolute;
	font-family: 'fontawesome';
	top: 0;
	left: 0;
	font-size: 20px;
  color: #464646;
}

.payment_options div {
  float: left;
  margin: 0 15px;
  text-indent: -9999px;
}

.payment_paypal a {
  background-image: url(../img/payment-paypal.png);
  background-repeat: no-repeat;
  background-size: 70px;
  display: block;
  height: 30px;
  width: 70px;
}

.payment_visa a {
  background-image: url(../img/payment-visa-.png);
  background-repeat: no-repeat;
  background-size: 70px;
  display: block;
  height: 30px;
  width: 70px;
}

.payment_master_card a {
  background-image: url(../img/payment-master-card.png);
  background-repeat: no-repeat;
  background-size: 70px;
  display: block;
  height: 50px;
  width: 70px;
  margin-top: -12px;
}

.payment_skrill a {
  background-image: url(../img/payment-skrill.png);
  background-repeat: no-repeat;
  background-size: 70px;
  display: block;
  height: 30px;
  width: 70px;
}

.payment_payoneer a {
  background-image: url(../img/payment-payoneer.png);
  background-repeat: no-repeat;
  background-size: 80px;
  display: block;
  height: 30px;
  width: 80px;
}


.payment_paypal a:hover {
  background-image: url(../img/payment-paypal-colored.png);
}

.payment_visa a:hover {
  background-image: url(../img/payment-visa-colored.png);
}

.payment_master_card a:hover {
  background-image: url(../img/payment-master-card-colored.png);
}

.payment_skrill a:hover {
  background-image: url(../img/payment-skrill-colored.png);
}

.payment_payoneer a:hover {
  background-image: url(../img/payment-payoneer-colored.png);
}




.product_ls_footer_bottom {
  background: #111111;
  padding: 30px 0;
}
.product_ls_footer_bottom .col-md-5 {
  color: #464646;
  font-size: 14px;
}
.product_ls_footer_bottom .col-md-5 a {
  color: #959595;
}
.top_wishlist .dropdown button:hover {
	cursor: pointer;
}

.testimonial_all.owl-loaded{
  cursor: grabbing;
}
.testimonial_all .owl-prev {
	left: 0;
}
.testimonial_all .owl-next {
	right: 0;
}